* {
	box-sizing: border-box;
}

body {
	cursor: pointer;
	background-color: #f8f8ff;
}

h1 {
	margin: 4rem;
	font-size: 3rem;
	font-family: Verdana, Helvetica, sans-serif;
	text-align: center;
}

.score {
	text-align: center;
}

span {
	font-size: 4rem;
	font-family: Verdana, Helvetica, sans-serif;
}

.container-fluid {
	width: 100%;
	height: auto;
	/* margin-top: ; */
	text-align: center;
}

.col-sm-6 {
	width: 50%;
	display: inline-block;
}


.textPlayerComputer {
	font-size: 1.5rem;
	font-family: Verdana, Helvetica, sans-serif;
}

.startDisplayImage {
	margin-top: 1.25rem;
	margin-bottom: 2rem;
	width: 35%;
	height: auto;
}

/* versteckt bild nach klick */
.hidden {
	display: none;
}

.fa {
	font-size: 5rem;
}

.icon-player .fa-hand-back-fist {
	rotate: 90deg;
}

.icon-com .fa-hand-back-fist {
	rotate: -90deg;
}




.chooseFighter {
	font-size: 1.5rem;
	font-family: Verdana, Helvetica, sans-serif;
}

button {
	height: 2.5rem;
	width: 5.5rem;
	color: white;
	font-size: 1rem;
	font-family: Verdana, Helvetica, sans-serif;
	margin-bottom: 2rem;
	background-color: #000;
	border-radius: 0.313rem;
	box-shadow: 0 0.563rem #999;
}

button:hover {
	background-color: #3e8e41;
}

button:active {
	background-color: #3e8e41;
	box-shadow: 0 0.4rem #666;
	transform: translateY(0.25rem);
}
	
.startTextDrawLoseWinDisplay {
	font-size: 1.5rem;
	font-family: Verdana, Helvetica, sans-serif;
}

	
@keyframes shake {
	0% {
		transform: translateY(0px);
	}
	15% {
		transform: translateY(-50px);
	}
	25% {
		transform: translateY(0px);
	}
	35% {
		transform: translateY(-50px);
	}
	50% {
		transform: translateY(0px);
	}
	65% {
		transform: translateY(-50px);
	}
	75% {
		transform: translateY(0px);
	}
	85% {
		transform: translateY(-50px);
	}
	100% {
		transform: translateY(0px);
	}
}